.body{
    background-color: #f7e8c3;
    font-family: 'Maven Pro', sans-serif;
}

.data {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 20px;
}

.styled-table thead tr {
    background-color: #bf382a;
    color: #ffffff;
    text-align: left;
}

.styled-table th,td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f7e8c3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #bf382a;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #bf382a;
}

.button {
    display: flex;
    justify-content: center;
}

.button .button-data {
    display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 0 20px;
	 min-width: 100px;
	 height: 50px;
	 border-radius: 5px;
	 font-size: 16px;
	 color: #555;
	 line-height: 1.2;
	 outline: none !important;
	 border: none;
	 transition: all 0.4s ease 0s;
}

.button #back-register {
    margin-right:25px;
}

.button .button-data:hover {
    background-color: #f7e8c3;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
